customCommands:
  containers:
    - name: bash
      attach: true
      command: "docker exec -it {{ .Container.ID }} bash"
      serviceNames: []

    - name: sh
      attach: true
      command: "docker exec -it {{ .Container.ID }} sh"
      serviceNames: []

    - name: backup_mongo
      attach: true
      command: "docker run --rm --volumes-from {{ .Container.ID }} -v /home/martinvysnovsky/mongo_backup:/backup ubuntu tar cvf /backup/backup.tar /data/db"
      serviceNames: []

    - name: restore_mongo
      attach: true
      command: "docker run --rm --volumes-from {{ .Container.ID }} -v /home/martinvysnovsky/mongo_backup:/backup ubuntu bash -c 'cd /data/db && tar xvf /backup/backup.tar --strip 2'"
      serviceNames: []

  images:
    - name: run_bash
      attach: true
      command: "docker run -it --rm {{ .Image.ID }} bash"
      serviceNames: []

    - name: run_sh
      attach: true
      command: "docker run -it --rm {{ .Image.ID }} sh"
      serviceNames: []
