@import "catppuccin-mocha.css";

* {
  font-family: "JetBrains Mono Nerd Font";
  border: none;
  border-radius: 0;
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  padding: 5px;
  color: #6c7086;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #89b4fa;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
  box-shadow: inherit;
  text-shadow: inherit;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#custom-powermenu {
  background: #1e1e2e;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
  border-radius: 10px;
}

#tray {
  border-radius: 10px;
}

#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#window {
  border-radius: 10px;
}

#clock {
  color: @green;
  border-radius: 10px;
}

#network {
  color: @yellow;
}

#pulseaudio {
  color: @blue;
}

#custom-powermenu {
  margin-right: 10px;
  padding-right: 13px;
  color: @red;
}
