@import "../waybar/catppuccin-mocha.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  color: #ffffff;
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 20%;
  border-radius: 10px;
  border: none;
  margin: 16px;
  font-size: 1.5em;
  padding-bottom: 20px;
}

button svg {
  background-color: red;
}

#lock {
  background-image: image(url("./icons/lock.svg"));
}
#lock:hover {
  background-color: @blue;
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}
#logout:hover {
  background-color: @yellow;
}

#suspend {
  background-image: image(url("./icons/suspend.svg"));
}
#suspend:hover {
  background-color: @peach;
}

#hibernate {
  background-image: image(url("./icons/hibernate.svg"));
}
#hibernate:hover {
  background-color: @blue;
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}
#shutdown:hover {
  background-color: @red;
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}
#reboot:hover {
  background-color: @sapphire;
}
